@charset "utf-8";

@media screen and (min-width: 440px){

    #map-container {
        align-content: center;
        margin: 10px;
        border: #000000;
    }
    .filter-options{
        align-items: center;
        width: 100%;
    }

@media screen and (min-width: 785px) {
    #maincontnet{
        align-content: center;
    }

    #map-container {
        align-content: center;
        margin: 15px;
        border: #000000;
    }

    .filter-options{
        width: 100%;
        align-items: center;
     }

    #restaurants-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }   
}

@media screen and (min-width: 801px) and (max-width: 2480px){
    #maincontnet{
        align-content: center;
    }

    #map-container {
        align-content: center;
        margin: 15px;
        border: #000000;
    }

    .filter-options{
        width: 100%;
        align-items: center;
        /* text-align: center; */
    }

    #restaurants-list {
        display: grid;
        /* grid-auto-flow: column dense; */
        grid-template-columns: repeat(3, [col] 2fr);
        margin: 15px;
        /* grid-template-columns: repeat(3, [row] 150px); */
        grid-gap: 10px;
    }
};